.project-pic {
  width: 100%;
  box-shadow: 3px 3px 3px #5ce9f878;
}

iframe {
  box-shadow: 3px 3px 3px #5ce9f878;
}

@media (min-width: 576px) {
  .tech-pic-box {
    display: flex;
    flex-direction: column;
  }
  iframe {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .tech-pic-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .project-image {
    flex-basis: 50%;
  }
}

.projects-container {
  max-width: 950px;
}
