@import url('https://fonts.googleapis.com/css?family=Roboto|Tomorrow&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }

  .grid-container {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    grid-template-columns: auto;
  }

  .skills-container {
    columns: 2;
  }

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  p, li {
    font-size: 16px;
    line-height: 1.4rem;
  }

  .grid-container {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto auto;

  }

  .lewagon-photo {
    grid-column: 2 / span 1;

    }
  
  
  .lewagon-intro-text {
    grid-column: 1 / span 2;
  }
  
  .lewagon-text {
    grid-column: 1 / span 1;

  }
  
  .skills-container {
    columns: 4;
    margin-bottom: 1.2rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

wrapper {
  min-height:100vh;
}

#page-container {
  flex: 1;
}


.skills-container > ul {
  list-style-type: square;
  padding-inline-start: 10px;
}

..skills-container > li {
  display: inline-block;
}


p {
  color: #003b5d;
}

a {
  font-weight: 500;
  color: #2162a8;
}

a:hover {
  color: #78dce1;
  text-decoration: none;
  
}

.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #adffa3 65%);
}

.section-heading {
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}



.logo {
  width: 200px;
  display: block;
  margin: 0.5rem 0 1.5rem 0;
}

.lewagon-text > p {
  margin-top: 1rem;
}